.addService {
  width: 1300px;
  margin: 0 auto;
  padding-bottom: 100px;
}
.tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Code Pro", monospace;
  font-size: 40px;
  padding: 100px 0;
  color: rgb(231, 67, 1);
}
.serviceMenu {
  display: flex;
  justify-content: center;
  font-family: "Source Code Pro", monospace;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}
.field {
  margin: 20px;
}
